<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ car.used_car_title }}</title>
    <style>
        .container {
            display: flex;
            gap: 20px;
            margin: 20px;
            margin-left: 150px;
        }
        .left {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .left img {
            width: 400px;
        }
        .right {
            flex: 2;
            margin-top: 50px;
            margin-left: 150px;
        }
    </style>
</head>
<body>
    {% include "_partialViews/_topNavBar.html" %}

    <div class="container">
        <div class="left">
            <h2>{{ car.used_car_title }}</h2>
            {% if car.mainImage %}
                <img src="{{ car.mainImage.url }}" alt="{{ car.used_car_title }}" width="300">
            {% endif %} 
        </div>
        <div class="right">
            <p>Mileage: {{ car.milage }} km</p>
            <p>Description:</p>
            <p>{{ car.description }}</p>
        </div>    
    </div>
</body>
</html>
